pisteCiclabiliSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pisteCiclabiliMilano">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pista" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:integer"/>
              <xs:element name="nome_via" type="xs:string"/>
              <xs:element name="tipologia" type="xs:string"/>
              <xs:element name="sede" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
